

  
  body {
    overflow: scroll;
    background-color: #187cd3; /* light blue background */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative; 
    height: 100vh;
    margin: 0;
    
  }

  .bg-txt {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0.3;
    font-size: 180px;
    white-space: nowrap;
    color: white;
    pointer-events: none;
  }

  h1.main-title {
    position: absolute;
    top: 210px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-size: 160px;
    color: black;
    white-space: nowrap;
  }
  p{
    position: relative;
    top: 400px;
    font-size: 30px;
    color: rgb(8, 50, 135);
    text-decoration-line: underline overline;
    text-underline-offset: 8px;
    
  }
  img{
    
    position: relative;
    margin-left: 20px;
    top: 500px;
    height: 400px;
    width: 300px;
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color:rgb(8, 50, 135);
  }